<!DOCTYPE html>
<html>
<head th:insert="layouts/plantilla :: head">
	<title>Panel de administracion</title>
</head>
<body>
	<header th:insert="layouts/plantilla :: header"></header>
<div class="container-fluid">
  <div class="row">
  		<nav th:insert="layouts/plantilla :: sidebar"></nav>
  		 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  		 	<div th:insert="layouts/plantilla :: titulo"></div>
  		 	
  		 	<form id="formularioEdit" method="POST">
  		 	<h3> Editando registro : <span id="idespecialidad" th:text="${id}"></span></h3>
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Nombre</label>
			    <input type="text" class="form-control" id="nombreedit" placeholder="Ingrese el nombre de la especialidad">
			  </div>
			  <button type="submit" class="btn btn-primary">Agregar</button>
			</form>
  		 </main>
   </div>
</div>
<div th:insert="layouts/plantilla :: scripts">
</body>
</html>