<!DOCTYPE html>
<html>
<head th:insert="layouts/plantilla :: head">
	<title>Panel de administracion</title>
	
</head>
<body>
<style>
	.img{
		width:100px;
		height: 100px;
	}
</style>
	<header th:insert="layouts/plantilla :: header"></header>
<div class="container-fluid">
  <div class="row">
  		<nav th:insert="layouts/plantilla :: sidebar"></nav>
  		 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  		 	<div th:insert="layouts/plantilla :: titulo"></div>
  		 	
  		 	<a class="btn btn-primary" th:href="@{/especialidades/agregar}">Agregar</a>
  		 	 <table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Acciones</th>
				      <th scope="col">Id</th>
				      <th scope="col">Imagen</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">estado</th>
				    </tr>
				  </thead>
				  <tbody id="listado">
				    
				    <tr>
				      <th scope="row">
				      	<button class="btn btn-warning"> Editar</button>
				      	<button  class="btn btn-danger"> Eliminar</button>
				      </th>
				      <td>1</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				     
				    </tr>
				    <tr>
				      <th scope="row">
				      	<button class="btn btn-warning"> Editar</button>
				      	<button  class="btn btn-danger"> Eliminar</button>
				      </th>
				      <td>1</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				     
				    </tr>
				  </tbody>
			</table>
  		 </main>
   </div>
</div>
<div th:insert="layouts/plantilla :: scripts">
</div>
</body>
</html>